@import url('https://fonts.cdnfonts.com/css/chillax');
@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins/Poppins-Regular.ttf'),
        url('../fonts/Poppins/Poppins-Bold.ttf'),
        url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: quicksand;
    src: url('../fonts/Quicksand/static/Quicksand-Light.ttf'),
    url('../fonts/Quicksand/static/Quicksand-Medium.ttf'),
    url('../fonts/Quicksand/static/Quicksand-Bold.ttf');
}

@font-face {
    font-family: bebas neue;
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
    scroll-behavior: smooth;
}

.area-animation{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    display: none;
    background-color: #f7dd00;
    clip-path: inset(0 100% 0 0);
    transition: 0.5s ease;
}

.area-animation.active{
    clip-path: inset(0 0 0 0);
    transition: 0.5s ease;
}

#coba-kode1, #coba-kode2, #coba-kode3{
    width: fit-content;
    text-decoration: none;
}

.p-ats{
    padding: 70px 0px 30px;
}

.text-home h1.fade-animation, .text-home p.fade-animation, .text-home a.fade-animation, .box-fitur.fade-animation, .box-kelas.fade-animation, .bottom-area-faq img.fade-animation, .faq-slider.fade-animation{
    transform: translateY(0%);
    opacity: 1;
    transition: 0.5s ease;
}

.text-home h6.opacity{
    opacity: 1;
    transition: 0.9s ease;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 999;
    height: 70px;
    top: 0;
    background-color: #fff;
}

nav h1{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}

.nav-menu{
    width: fit-content;
    display: flex;
}

#nav-btn{
    width: 30px;
    height: 30px;
}

.nav-menu p{
    color: #3d3d3d;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.3px;
    margin: 0px 10px;
}

#nav-btn{
    display: none;
}

.nav-menu p:hover{
    color: #f7b500;
    transition: 0.5s ease;
}

.login a{
    color: #000;
    text-decoration: none;
    padding: 5px 20px;
    margin: 0px 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.login a:nth-child(1){
    border: 1.5px solid #f7b500;
}

.login a:nth-child(2){
    background-color: #f7dd00;
    color: #fff;
}

.home{
    width: 100%;
    min-height: 100vh;
    padding: 70px 4% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/backgroundcc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-home{
    width: 55%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.text-home h6{
    width: fit-content;
    background-color: #f7dd00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    opacity: 0;
}

.text-home h1{
    transform: translateY(-20%);
    opacity: 0;
    font-size: 60px;
    font-weight: 800;
    margin: 5% 0px 50px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.text-home h1 span{
    color: #f7dd00;
}

.text-home h1 span::after{
    content: "";
    display: block;
    background-image: url(https://assets-global.website-files.com/61af164800e38c4f53c60b4e/639c6d246bda870c34a69ad9_comm-underline.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(20%);
    width: 80%;
    height: 10px;
    z-index: 0;
}

.text-home p{
    color: #787878;
    width: 80%;
    opacity: 0;
    transform: translateY(80%);
}

.text-home a{
    width: fit-content;
    margin: 20px 0px;
    color: #fff;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: 700;
    border-radius: 30px;
    letter-spacing: 1px;
    background-color: #f7b500;
    opacity: 0;
    transform: translateY(80%);
}

.text-home a img{
    margin-left: 10px;
    width: 25px;
}

.area-counter-up{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 15px 0px;
    box-shadow: 0px 0px 8px #cacaca;
    margin: 30px 0px;
}

.box-counter{
    width: fit-content;
    height: fit-content;
}

.box-counter h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #f7b500;
    font-weight: 700;
    margin: 0;
}

.box-counter p{
    color: #f7dd00;
    font-size: 14px;
    margin: 0;
}
.area-counter-up span{
    width: 1.5px;
    height: 45px;
    background-color: #f7dd00;
}

.fitur{
    background-color: rgba(247, 222, 0, 0.27);
    border-radius: 10% 10% 0px 0px}
     
.fitur h1{
    font-family: 'quicksand';
    font-weight:600;
    color: #000;
    letter-spacing: 1px;
}

.fitur h1 span{
    font-family: 'quicksand';
}

.fitur h1 span::after{
    content: "";
    display: block;
    background-image: url(https://assets-global.website-files.com/61af164800e38c4f53c60b4e/639c6d246bda870c34a69ad9_comm-underline.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(20%);
    width: 80%;
    height: 10px;
    z-index: 0;
}

.area-fitur{
    width: 100%;
    padding: 5% 0px;
}

.area-fitur img{
    width: 45%;
}

.inner-area-fitur{
    width: 40%;
}

.box-fitur{
    box-shadow: 0px 0px 10px #b3b3b3;
    width: 100%;
    padding: 3% 2%;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.6s ease;
    opacity: 0;
    transform: translateY(60%);
}

.box-fitur:hover{
    background-color: #f7b500;
}

.box-fitur-img{
    background-color: #fff;
    padding: 13px;
    border-radius: 50%;
    border: 2px solid #f7b500;
    transform: translateX(-50%);
}

.box-fitur img{
    width: 40px;
    height: 100%;
}

.box-fitur h1{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: bold;
    margin-bottom: 10px;
}

.box-fitur p{
    color: #787878;
    font-size: 13px;
    margin-bottom: 0;
}

.partner p{
    font-size: 18px;
    margin: 20px 0px 40px;
    font-weight: 600;
    color: #787878;
}

.area-slider{
    width: 100%;
    overflow: hidden;
}

.slider{
    display: flex;
    width: 200%;
    animation: sliderfull 20s linear infinite;
}

.slider div{
    width: 100%;
}

.slider ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.slider li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin: 0px 10px;
}

.slider li img{
    width: 50%;
    /* height: 50px; */
    object-fit: contain;
    filter: grayscale(100%);
    cursor: pointer;
}

.slider li img:hover{
    filter: grayscale(0%);
}

.stopslider{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes sliderfull {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
}

.promo{
    position: relative;
}

.text-promo{
    width: 40%;
}

.text-promo p{
    color: #787878;
    margin-top: 25px;
}

.box-kelas{
    width: 500px;
    height: 100%;
    padding: 2%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #cacaca;
    margin: 0px 20px 20px;
}

.box-kelas img{
    width: 35%;
    height: 100%;
}

.box-kelas .inner-kelas{
    width: 50%;
    height: 100%;
}

.box-kelas h1{
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5%;
}

.box-kelas p{
    color: #787878;
    font-size: 14px;
}

.info-kelas img{
    width: 17px;
    margin-right: 8px;
}

.info-kelas p{
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #f7b500;
}

.heading-area-faq{
    width: 100%;
    margin-bottom: 4%;
}

.heading-area-faq h1{
    font-family: quicksand;
    width: 45%;
    font-weight: 600;
}

.heading-area-faq p{
    width: 45%;
    text-align:justify;
    color: #787878;
    font-size: 14px;
}

.bottom-area-faq img{
    width: 40%;
    height: fit-content;
    opacity: 0;
    transform: translateY(40%);
}

.inner-faq{
    width: 50%;
}

.faq-slider{
    min-width: 45vw;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px 35px;
    border-radius: 15px;
    transition: 0.5s ease;
    transition-delay: 0.5s;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-70%);
}

.faq-slider:nth-child(1){
    transition-delay: 0.3s;
}

.faq-slider h1{
    width: 70%;
    font-size: 20px;
    margin: 0px;
}

.faq-slider h2{
    transition: 0.5s ease;
}

.isi-slide{
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 35px;
    display: none;
}

.isi-slide h1{
    font-size: 14px;
    margin: 0px;
    color: #3d3d3d;
}

.faq-open{
    transition: 0.5s ease;
    transform: rotate(229deg);
}

.faq-slider.faq-slider-open{
    border-radius: 15px 15px 0px 0px;
    transition: 0.5s ease;
}

.not-found{
    font-family: 'Chillax', sans-serif;
    color: red;
}

.search{
    width: 100%;
    position: sticky;
    top: 70px;
    z-index: 998;
    background-color: #fff;
    padding: 30px 3%;
    box-shadow: 0px 5px 10px #f5f5f5;
}


.search input{
    border: none;
    background-color: #ebebeb;
    padding: 10px 10px;
    outline: none;
    margin: 0px;
}

.area-search{
    width: fit-content;
}

#search-btn{
    padding: 10px;
    border: none;
    background-color: #cacaca;
}

#search-btn img{
    margin: 0px;
    width: 20px;
}

#sorting{
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    padding: 10px;
    border: 1.5px solid #000;
}

.text-style-allcaps {
    text-transform: uppercase;
}

.footer{
    width: 100%;
    height: fit-content;
    color: #fff;
    position: absolute;
    text-align: center;
    background-color: #161717;
}

.footer-above{
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-above .heading h1{
    letter-spacing: -4px;
    font-size: 122px;
    font-weight: 400;
    line-height: 100%;
    font-family: 'Chillax', sans-serif;
}

.footer-above .heading h3{
    font-family: 'Chillax', sans-serif;
    color: #b3b3b3;
}

.footer-middle{
    height: 100%;
}

.footer-middle h3{
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 40px 0;
}

.footer-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column{
    width: 280px;
    height: 275px;
    text-align: left;
    display: flex;  
    flex-direction: column;
}

.footer-column .nav{
    height: 175px;
    display: flex;
    flex-direction: column;
}

.footer-column .nav a{
    text-decoration: none;
    color: #ffffff99;
    font-size: 14px;
    padding: 0 0 20px 0;
    width: fit-content;
}

.footer-column p{
    cursor: pointer;
    color: #ffffff99;
    font-size: 14px;
}

.footer-column .nav a:after{
    border-bottom: 6px solid red
}

.footer-column .nav a:hover:after{
    
}

.button-group {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.button-group img{
    filter: invert(100%);
    width: 18px;
    height: auto;
    padding: 0 0 20px 0;
}

.materi{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}

.area-materi{
    width: 75%;
    height: 100%;
    overflow: auto;
    border-right: 1px solid #ebebeb;
}

.inner-materi{
    width: 80%;
}

.area-materi::-webkit-scrollbar{
    width: 14px;
}

.area-materi::-webkit-scrollbar-thumb{
    background-color: #b3b3b3;
}

.area-materi::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
}
.area-materi img{
    width: 40%;
    margin-bottom: 20px;
}

.area-materi p{
    line-height: 2;
    color: #787878;
}

.area-demo{
    width: 100%;
    padding: 3% ;
    background-color: #ebebeb;
    border-radius: 10px;
}

.area-demo h5{
    padding: 10px;
    background-color: #f7a900;
    border-radius: 10px;
    width: fit-content;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    margin: 15px 0px;
}

.box-demo{
    width: 95%;
    padding: 5px 10px;
    background-color: #fff;
    border-left: 3px solid #f7b500;
    overflow: auto;
}

.box-demo p{
    margin: 0px;
    color: #000;
    line-height: normal;
}

.box-demo .text-tag{
    color: brown;
}

.box-demo .icon-text{
    color: blue;
}

.area-nav-materi{
    width: 25%;
    background-color: #fafafa;
}

.header-nav-materi{
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid #cacaca;
    padding: 4% 0px;
    background-color: #fff;
}

.header-nav-materi h3{
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.box-nav-materi{
    width: 90%;
    height: fit-content;
    background-color: #ebebeb;
    cursor: pointer;
    margin:10px 0px ;
}

.case-nav-number{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5B0888;
}

.box-nav-materi h3{
    font-size: 23px;
    margin: 0px;
    text-align: center;
    font-family: bebas neue;
    color: #fff;
}

.box-nav-materi p{
    margin: 0;
    width: max-content;
    text-align: center;
    margin-left: 10px;
}

.area-next-prev h3{
    padding: 15px;
    background-color: #f7a900;
    color: #fff;
    font-size: 15px;
    margin: 50px 0px;
}

.outer-modul{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(152, 152, 152, 0.5);
    transition: 0.7s ease;
}

.area-modul{
    position: absolute;
    width: 50%;
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    transition: 0.7s ease-in;
    transform: translateY(150%);
}

#exit-modul{
    width: 100%;
    height: 100vh;
}

#modul-kelas{
    display: none;
    padding: 15px;
    background-color: #f7dd00;
    position: fixed;
    z-index: 999;
    bottom: 5%;
    right: 5%;
    border-radius: 50%;
}

#modul-kelas img{
    width: 25px;
    height: 25px;
}

.area-nav{
    width: 40%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.7s ease;
}

.area-nav.active{
    transform: translateX(0%);
    transition: 0.7s ease;
}

.area-nav img{
    width: 25px;
    height: 25px;
}

.area-nav a{
    width: 80%;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: bebas neue;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px;
    background-color: #f7a500;
}

.program-player{
    background-color: #f7a5001f;
    min-height: 100vh;
}

.editing-area{
    width: 60%;
    height: 100%;
}

.area-header-editing h1{
    font-size: 18px;
    font-weight: 800;
    margin:0px 10px 0px 0px;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.output{
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 0px;
    background-color: #fff;
    margin: 0px;
}

.outer-editing{
    position: relative;
}

.outer-editing textarea{
    width: 100%;
    resize: none;
    outline: none;
    height: 70vh;
    background-color: #fff;
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    transition: 0.5s ease;
}

#editing-html, #editing-css, #editing-js{
    position: absolute;
}

.editing-active{
    background-color: #fff;
}

.area-hasil{
    height: 100%;
    width: 38%;
}

#area-hasil{
    width: 100%;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    height: 70vh;
    overflow: auto;
}

#full-size, #running-program{
    font-size: 18px;
    font-weight: 800;
    margin: 0px;
    background-color: #f7a500;
    padding: 10px 35px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.form-editing-nonactive{
    clip-path: inset(0 0 100% 0);
    background-color: #000;
    transition: 0.5s ease;
}



@media screen and (max-width:998px) {
    .area-nav-materi{
        display: none !important;
    }

    .inner-materi{
        width: 90%;
    }

    .area-modul{
        display: flex;
    }
    #modul-kelas{
        display: block;
    }
    
    .area-program{
        display: flex;
        flex-direction: column-reverse;
        align-items: center !important;
    }

    .outer-editing textarea{
        height: 35vh;
    }

    .area-hasil{
        height: 35vh;
        width: 90%;
    }
    .editing-area{
        margin-top: 10px;
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    .nav{
        padding: 0px 5%;
        display: flex;
        justify-content: space-between;
    }

    #nav-btn{
        display: block;
    }

    .nav-menu{
        display: none;
    }

    nav .login{
        display: none !important;
    }

    .area-fitur, .promo, .bottom-area-faq{
        display: flex;
        flex-direction: column;
    }

    .inner-area-fitur{
        width: 80%;
    }

    .text-promo{
        margin: 20px 0px 20px 20px;
        width: 50%;
    }
    .inner-faq{
        width: 80%;
    }

    .faq-slider{
        min-width: 100%;
    }

    .footer-above .heading h1{
        font-size: 80px;
    }

    .footer-column{
        width: fit-content;
    }

    

    .footer-column .nav{
        height: fit-content;
    }

}

@media screen and (max-width:600px) {
    .text-home{
        width: 80%;
    }
    .text-home h1{
        font-size: 30px;
        margin: 5% 0px;
    }

    .text-home p{
        font-size: 13px;
    }

    .text-home h6{
        font-size: 14px;
    }

    .text-home a{
        font-size: 13px;
        padding: 10px 15px;
    }

    .text-home a img{
        width: 15px;
    }
    .area-counter-up{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
    }

    .area-counter-up span{
        width: 90%;
        height: 1px;
        margin: 10px 0px;
    }

    .heading-area-faq{
        display: flex;
        flex-direction: column;
    }

    .heading-area-faq h1, .heading-area-faq p{
        width: 80%;
    }

    .box-kelas{
        width: 280px;
        flex-direction: column;
    }

    .box-kelas .inner-kelas{
        width: 80%;
    }

    .text-promo{
        width: 80%;
    }

    .footer-above .heading h1{
        font-size: 40px;
    }

    .footer-grid{
        flex-direction: column;
        align-items: center;
    }

    .footer-middle h3{
        font-size: 18px;
    }

    .search{
        display: flex;
        flex-direction: column;
        position:static;
        z-index: 1;
        top: 0;
    }

    .area-search{
        margin: 10px 0px;
    }

    #sorting{
        font-size: 12px;
        margin: 10px 0px;
    }

    .materi{
        height: 100%;
    }

    .materi p{
        font-size: 13px;
    }

    .area-materi{
        width: 95%;
        border: none;
    }

    .area-modul{
        width: 90%;
    }

    .area-nav{
        width: 100%;
    }

    .area-header-editing h1, #running-program, .output{
        font-size: 11px;
        padding: 8px 10px;
    }
}